<h1>Edit Guest
  <form action="/guests/<%= @guest[:id] %>" method="post" class="delete-guest">
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Delete guest' class='button delete'>
  </form>
</h1>
<form action="/guests/<%= @guest[:id] %>" method="post">
  <input type='hidden' name='_method' value='put'>
  <%= erb :guestform %>
</form>

