<h1>Edit Guest</h1>
<form action="/guests/<%= @guest[:id] %>" method="post">
  <input type='hidden' name='_method' value='put'>
  <%= erb :guestform %>
</form>

<h2>Delete Guest</h2>
<form action="/guests/<%= @guest[:id] %>" method="post">
  <input type='hidden' name='_method' value='delete'>
  <input type='submit' value='delete guest' class='delete'>
<form>
