<html>
<head>
  <title>heroku guests</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link rel="stylesheet" href="assets/application.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
</head>
<body>
  <nav>
    <a href="/">new guest</a>
    <a href='/list'>guest list</a>
    <a href='/stats'>stats</a>
  </nav>
  <section>
    <%= yield %>
  </section>
</body>
</html>
