<html>
<head>
  <title>heroku guests</title>
  <style>
    body { font-family: monospace; background-color: #F2F2F2; color: #1A1A1A }
    label { display: inline-block; width: 9em;}
    label.mid { width: auto;}
    td { border-right: 1px solid grey; padding: 0 1em; }
    td.last { border-right: 0 }
    .submit { background: #B4D7BF; font-weight: bold; }
    .delete { background: #F08080; }
    small { color: #404040; }
  </style>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
</head>
<body>
<a href="/">new guest</a> | <a href='/list'>guest list</a><br>
<%= yield %>
</body>
</html>


