$base-color: #45454E;

section, nav {
  padding: 20px 40px;
}

div.guest {
  float: left;
  padding-right: 4em;
}

.field {
  display: inline-block;
  padding: 5px;
}

body {
  color: $base-color;
  font: 400 14px/28px "BentonSans", Helvetica, sans-serif;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

form {
  margin-bottom: 0;

  fieldset {
    border-bottom: 1px solid #CCC;
    padding: 20px 0;

    &:first-child {
      padding-top: 0;
    }
  }

  input:not([type='checkbox']), textarea {
    border: 1px solid #CBCBCC;
    border-radius: 3px;
    font: 400 14px/17px "BentonSans", Helvetica, sans-serif;
    height: 40px;
    padding: 10px;
  }

  textarea {
    height: 55px;
    width: 400px;
  }
}

nav {
  background-color: #3B2F63;
  background-repeat: no-repeat;
  font-size: 16px;
  $spacing: 20px;

  a {
    color: white;
    margin-right: $spacing;

    &::after {
      padding-left: $spacing;
      content: '|';
    }

    &:last-child::after {
      content: '';
    }
  }
}

label {
  display: block;
  width: 100%;

  &.mid {
    width: auto;
  }
}

td {
  border-right: 1px solid grey;
  padding: 0 1em;

  &.last {
    border-right: 0;
  }
}

.button {
  border: none;
  background: #6e5baa;
  padding: 8px 24px;
  border-radius: 3px;
  color: white;
  font-size: 14px;

  &.submit {
    margin-top: 20px;
    width: 400px;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}

form.delete-guest {
  display: inline-block;

  .button {
    border: none;
    background: none;
    color: #E65252;
    height: auto;
    text-decoration: underline;
    padding: 0;
    margin-left: 10px;
  }
}

small {
  color: #404040;
}

input[type="checkbox"] {
  display: inline-block;
}

input[type="checkbox"] + label {
  display: inline-block;
  width: auto;
}

.overview {
  font-family: monospace;
}
